<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Package IgnorableNamespaces="build" xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:wb="http://schemas.microsoft.com/appx/2013/manifest" xmlns:build="http://schemas.microsoft.com/developer/appx/2012/build">

    <Identity Name="Socials" ProcessorArchitecture="x86" Publisher="CN=Wan Kerr Co. Ltd." Version="2.6.672.0" />

    <Properties>
        <Framework>false</Framework>
        <DisplayName>Socials</DisplayName>
        <PublisherDisplayName>Wan Kerr Co. Ltd.</PublisherDisplayName>
        <Description>Social Media Links</Description>
        <Logo></Logo>
    </Properties>

    <Prerequisites>
        <OSMinVersion>6.3.0</OSMinVersion>
        <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
    </Prerequisites>

    <Resources>
        <Resource wb:Scale="100" />
        <Resource Language="en-US" />
        <Resource Language="en-GB" />
    </Resources>

    <Applications>
        <Application Id="Twitter" StartPage="https://twitter.com/da_wamwoowam">
            <wb:VisualElements DisplayName="Twitter" Description="Twitter" ForegroundText="light" BackgroundColor="#00ACEE" Square150x150Logo="twitter-logo-square.png" Square30x30Logo="twitter-logo-small.png" ToastCapable="true">
                <wb:DefaultTile Square70x70Logo="images\Tiles\XBL_MUSIC_70x70_A.png" Wide310x150Logo="images\Tiles\XBL_MUSIC_310x150_C.png" Square310x310Logo="images\Tiles\XBL_MUSIC_310x310_A.png">
                    <wb:ShowNameOnTiles>
                        <wb:ShowOn Tile="square150x150Logo" />
                        <wb:ShowOn Tile="wide310x150Logo" />
                        <wb:ShowOn Tile="square310x310Logo" />
                    </wb:ShowNameOnTiles>
                </wb:DefaultTile>
                <wb:SplashScreen BackgroundColor="#00ACEE" Image="twitter-splash.png" />
                <wb:InitialRotationPreference>
                    <wb:Rotation Preference="landscape" />
                    <wb:Rotation Preference="landscapeFlipped" />
                    <wb:Rotation Preference="portrait" />
                    <wb:Rotation Preference="portraitFlipped" />
                </wb:InitialRotationPreference>

            </wb:VisualElements>

            <Extensions></Extensions>
        </Application>
        <Application Id="Twitch" StartPage="https://twitch.tv/wamwoowam">
            <wb:VisualElements DisplayName="Twitch" Description="Twitch" ForegroundText="light" BackgroundColor="#9146FF" Square150x150Logo="twitch-logo-square.png" Square30x30Logo="twitter-logo-small.png" ToastCapable="true">
                <wb:DefaultTile Square70x70Logo="images\Tiles\XBL_MUSIC_70x70_A.png" Wide310x150Logo="images\Tiles\XBL_MUSIC_310x150_C.png" Square310x310Logo="images\Tiles\XBL_MUSIC_310x310_A.png">
                    <wb:ShowNameOnTiles>
                        <wb:ShowOn Tile="square150x150Logo" />
                        <wb:ShowOn Tile="wide310x150Logo" />
                        <wb:ShowOn Tile="square310x310Logo" />
                    </wb:ShowNameOnTiles>
                </wb:DefaultTile>
                <wb:SplashScreen BackgroundColor="#9146FF" Image="twitch-splash.png" />
                <wb:InitialRotationPreference>
                    <wb:Rotation Preference="landscape" />
                    <wb:Rotation Preference="landscapeFlipped" />
                    <wb:Rotation Preference="portrait" />
                    <wb:Rotation Preference="portraitFlipped" />
                </wb:InitialRotationPreference>

            </wb:VisualElements>

            <Extensions></Extensions>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="musicLibrary" />
        <Capability Name="internetClient" />
    </Capabilities>

    <Dependencies>
        <PackageDependency Name="Microsoft.VCLibs.120.00" MinVersion="12.0.20513.0" />
        <PackageDependency Name="Microsoft.WinJS.2.0" MinVersion="1.0.9407.0" />
    </Dependencies>

    <Extensions></Extensions>
</Package>