body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #111111;
}

.tiles-container {
}

.tile {
    position: absolute;
    top: 210px;
    left: 120px;
    width: 248px;
    height: 120px;
    transform-style: preserve-3d;
    perspective-origin: center;
    transform-style: preserve-3d;
    will-change: transform;
}

.tile-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 89, 117), rgb(255, 115, 138));
    backface-visibility: hidden;
}

.tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(255, 89, 117), rgb(255, 115, 138));
    backface-visibility: hidden;
    transform: rotateY(180deg);
    pointer-events: none;
    overflow: hidden;
}

.tile-back>*, .tile-front>*{
    position: absolute;
    transform-origin: top left;
    will-change: transform;
    width: 100%;
    height: 100%;
}

.tile-border {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.tile.active {
    animation: tile-rotate 1s cubic-bezier(0.41, 0.52, 0.0, 0.94) forwards;
}

@keyframes tile-rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

.hidden {
    display: none;
}

.core-window-container {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.core-window {
    position: absolute;
    pointer-events: all;    
    width: 100%;
    height: 100%;
    background: white;
    color: white;
}

.core-window-frame {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.core-window-titlebar {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #111111;
    display: flex;
    transition: transform 0.15s ease-out;
    overflow: hidden;
}

.core-window-titlebar.hidden {
    opacity: 1;    
    display: flex;
    transition-delay: 0.35s;
    transform: translateY(-30px);
}

.core-window-icon-container {
    margin: 3px;
    padding: 2px;
}

.core-window-icon {
    width: 20px;
    height: 20px;
}

.core-window-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core-window-minimise {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    font-family: "Segoe UI Symbol";
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
    border: none;
}

.core-window-minimise::after{
    content: "\E108";
    /* this is absurdly cursed */
    transform: translateY(4px); 
    display: inline-block;
}

.core-window-minimise:hover {
    background: #3665b3;
    border: none;
}

.core-window-minimise:active {
    opacity: 0.8;
    border: none;
}

.core-window-close {
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    font-family: "Segoe UI Symbol";
    color: white;
    font-size: 12px;
    width: 30px;
    height: 30px;
    min-width: 0;
    padding: 0;
    border: none;
}

.core-window-close::after{
    content: "\E10A";
}

.core-window-close:hover {
    background: #e04343;
    border: none;
}

.core-window-close:active {
    opacity: 0.8;
    border: none;
}

.splashScreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.15s ease-out;
    transform-style: preserve-3d;
}

.splashScreenContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform-style: preserve-3d;
}



.tile-front-text {
    padding: 0;
    margin: 8px 12px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}
