@charset "utf-8";

/*フォント-----------------------------------------------------------------*/

@font-face {
    font-family: "FontEB";
    src: url("../font/subsetDFPT_R9.woff");
}
@font-face {
    font-family: "FontDB";
    src: url("../font/subsetDFPT_R7.woff");
}
