@charset "utf-8";

/*フォント-----------------------------------------------------------------*/

@font-face {
    font-family: "FontEB";
    src: url("../font/subsetDFP_GB_Y9.woff");
}
@font-face {
    font-family: "FontDB";
    src: url("../font/subsetDFP_GB_Y5.woff");
}
